apiVersion: v1
kind: Service
metadata:
  name: titanic-service
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    app: titanic-api
  ports:
  - name: http
    port: 8000
    protocol: TCP
    targetPort: 8000
