name: Docker Image Build

on:
  push:
    paths:
    - 'app/**'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Login to Docker Registry
      uses: docker/login-action@v3
      with:
        registry: registry-1.docker.io/axee808
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image and push
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        tags: axee808/titanic-api:v3
        push: true
